@import url("https://fonts.googleapis.com/css2?family=Yellowtail&display=swap");
/* Varibales */
.col-lg-6 {
  margin: 0;
}

.menu-camaron {
  width: 100%;
  height: auto;
  margin-top: 10px;
}
.menu-camaron ul {
  list-style: none;
}
.menu-camaron ul .menu-platillo {
  width: 100%;
  min-height: 143px;
  height: auto;
  background: whitesmoke;
  border: solid 1px #332B2B;
  margin-bottom: 10px;
  margin-top: 0;
  display: flex;
  border-radius: 5px;
  transition: all 1s;
}
.menu-camaron ul .menu-platillo .platillo-info {
  padding: 15px;
  font-size: 13px;
}
.menu-camaron ul .menu-platillo .platillo-info h4 {
  text-transform: uppercase;
  color: #F2860B;
  font-family: "Yellowtail", cursive;
  transition: all 0.5s;
}
.menu-camaron ul .menu-platillo .platillo-precio {
  text-align: center;
  color: #F2860B;
  font-family: "Yellowtail", cursive;
  padding: 35px;
  padding-top: 40px;
  font-size: 40px;
  transition: all 1s;
}
.menu-camaron ul .menu-platillo:hover {
  color: whitesmoke;
  text-shadow: 2px 1px #332B2B;
}
.menu-camaron ul .menu-platillo:hover .platillo-info h4 {
  color: whitesmoke;
  text-shadow: 2px 1px #332B2B;
}
.menu-camaron ul .menu-platillo:hover .platillo-precio {
  color: whitesmoke;
  text-shadow: 2px 1px #332B2B;
}

/* Media querys */
@media (max-width: 500px) {
  .menu-camaron .menu-platillo {
    height: auto !important;
  }

  .platillo-precio div {
    padding-top: 15px;
  }
}