@import url('https://fonts.googleapis.com/css2?family=Yellowtail&display=swap');
/* Varibales */
$color-header : #3848d6;
$color-body : #B9CAEC;
$letra-naranja: #F2860B;
$menu-principal: #332B2B;
$letra:'Yellowtail', cursive;

.col-lg-6{
    margin: 0;
}
.menu-camaron{
    width: 100%;
    height: auto;
    margin-top: 10px;
    ul{
        list-style: none;
        .menu-platillo{
            width: 100%;
            min-height: 143px;
            height: auto;
            background: whitesmoke;
            border: solid 1px $menu-principal;
            margin-bottom:10px;
            margin-top: 0;
            display: flex;
            border-radius: 5px;
            transition: all 1s;
          
            .platillo-info{
                padding: 15px;
                font-size: 13px;
                h4{
                    text-transform: uppercase;
                    color:$letra-naranja;
                    font-family: $letra;
                    transition: all .5s;
                }
            }
            .platillo-precio{
                text-align: center;
                color: $letra-naranja;
                font-family: $letra;
                padding: 35px;
                padding-top: 40px;
                font-size: 40px;
                transition: all 1s;
            }
        }
        .menu-platillo:hover{
            color: whitesmoke;
           
            text-shadow: 2px 1px $menu-principal;
            
            .platillo-info{
                h4{
                    color: whitesmoke;
                    text-shadow: 2px 1px $menu-principal;
                }
            }
            .platillo-precio{
                color: whitesmoke;
                text-shadow: 2px 1px $menu-principal;
            }
        }
    }
}
/* Media querys */
@media(max-width:500px){
   .menu-camaron .menu-platillo{
        height: auto !important;
    }
}